<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>UNLa</title>
	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/modern-business.css" rel="stylesheet" />
</head>

<body>
	<!-- Page Content -->
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-5">Login</h1>
			<form th:action="@{/loginprocess}" method="post">
				<div class="col-auto">
					<label class="visually-hidden" for="autoSizingInput">Username</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="username">
				</div>
				<div class="col-auto mb-4">
					<label class="visually-hidden" for="autoSizingInputGroup">Password</label>
					<div class="input-group">
						<input type="password" class="form-control" id="password" name="password"
							placeholder="password">
					</div>
				</div>
				<div class="col-auto">
					<button type="submit" class="btn btn-primary">Ingresar</button>
				</div>
		</div>


		</form>
		<div th:if="${error != null}" class="alert alert-danger">
			Invalid username or password.
		</div>
	</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>