<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>UNLa</title>
	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link href="/css/modern-business.css" rel="stylesheet" />
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/index">HOME</a>
			<button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
				class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" data-toggle="collapse"
				type="button"></button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/products">Productos</a>
					</li>

					<li th:if="${isAdmin}" class="nav-item"><a class="nav-link" href="/lots/add">Cargar Lote</a></li>
					<li class="nav-item dropdown"><a aria-expanded="false" aria-haspopup="true"
							class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownBlog">

							<span th:text="${username}" />
						</a>
						<div aria-labelledby="navbarDropdownBlog" class="dropdown-menu dropdown-menu-right">
							<form th:action="@{/logout}" method="post">
								<input class="dropdown-item" style="cursor: pointer" type="submit" value="Logout" />
							</form>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<header>
		<div class="container">

			<table border="1px">
				<thead>
					<tr>
						<th>Nombre del Producto</th>
						<th>Ver</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${products}">
						<td><span th:text="${product.name}" /></td>
						<td>
							<a th:href="@{/products/{id}(id=${product.id})}">Ver</a>
						</td>
						<td>
							<span th:if="${product.isAvailable}">En Stock</span>
							<span th:unless="${product.isAvailable}">Sin Stock</span>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="container">
				<h1 class="my-2">Detalle de Productos</h1>
				<select class="my-4" id="select-product">
					<option>Productos..</option>
					<option th:each="product : ${products}" th:value="${product.id}">
						<p th:text="${product.name}" />
					</option>
				</select>
				<div id="div-select-product" class="row"></div>
			</div>
		</div>

	</header>
	<!-- Page Content -->

	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Website 2018</p>
		</div>
	</footer>
	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript">
		$("#select-product").change(function () {
			var productId = $("#select-product").val();
			if ($.isNumeric(productId)) {
				$.ajax({ //https://api.jquery.com/jquery.ajax/ => Examples:
					method: "GET",
					url: "/products/" + productId,
				})
					.done(function (result) {
						$("#div-select-product").html(result);
					})
					.fail(function () {
						alert("error");
					});
			} else $("#div-select-product").html("");
		});
	</script>
</body>

</html>